//colors
$_red: rgba(255, 67, 67, 1);
$_red2: rgba(231, 20, 20, 1);
$_red_hover:rgba(255, 67, 67, 0.8);
$_red_active: rgba(185, 12, 12, 0.8);
$_white: rgba(255, 255, 255, 1);
$_black: rgba(45, 48, 51, 1);
$_grey: rgba(108, 114, 121, 1);

//font_size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.812rem;

